<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
		<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
		<title></title>
	</head>
	<body>
		<div id="app">
			<!-- 监听文本框数据改变拼接成fullname -->
			<input type="text" name="" v-model="firstname" @keyup="getFullName">+
			<input type="text" v-model="lastname" name="" @keyup="getFullName">
			<input type="text" v-model="fullname" name="">
		</div>
		<script type="text/javascript">
			var vm = new Vue({
				el:'#app',
				data:{
					firstname:'',
					lastname:'',
					fullname:''
				},
				methods:{
					getFullName:function(){
						this.fullname = this.firstname+'-'+ this.lastname
					}
				},
			})
		</script>
	</body>
</html>